*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.row{
    flex-wrap: wrap;
    padding-top: 1.5% ;
}
.card{
    margin-right: 1%;
    align-self: flex-start;
    height: 39rem;

}
.card-body{
    align-self: center;
}
a{
    text-decoration: none;
}
.card-title{
    color: black;

}
.card-text{
    color: black;

}
.card-title:hover{
    color:brown;
}

.anchor{
background-color: black;
color: #F7E801;
}


.imgs{
    width: 100%;
}
.anchor:hover{
    color: black;
    background-color: #F7E801;
}
.nav-link:hover{
color: #F7E801;
}